auto-save-list
custom.el
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el
*.elc
*.pyc
archives/
*readme.txt
gnupg/
/archives/*/archive-contents.signed
